VITE_SUPABASE_URL=https://ylmrpzwbabedarhaxygj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_doGZ1MMqEe2i2VCt49p3Bw_t1VXAOO5
DATABASE_URL=postgresql://postgres.ylmrpzwbabedarhaxygj:[YOUR-PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres
